<div class="container-new">
	<div class="container">
		<header id="header-edit" class="header-edit">
			<h2 class="title-edit">New Custom Task </h2>
		</header>

		<%= render 'form', list: @list %>

		<div class="center">
					<%= link_to 'Back to Tasks', lists_path, class: 'back' %>
		</div>
		</div>
</div>